<% provide(:title, "Editar #{@user.name}") %>

<% if !@user.admin? %>
	<div class="boton_der">
		<h1>Editar <%= @user.name %><span class="line"></span></h1>
	</div>
<% end %>
<%= render 'users/form' %>