<% provide(:title, 'Todos los Usuarios') %>

<div class="boton_der">
	<h1>Todos los Usuarios<span class="line"></span></h1>
</div>
<div class="all_width blue_box">
	<table class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>Usuario</th>
				<th>Email</th>
				<th>Administrador</th>
				<th>Instructor</th>
				<th>Coordinador</th>
				<% if current_user.admin? %>
					<th>Eliminar</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.name, user %></td>
				<td><%= user.email %></td>
				<% if user.admin %><td>Sí</td><% else %><td>No</td><% end %>
				<% if user.student %><td>Sí</td><% else %><td>No</td><% end %>
				<% if user.teacher %><td>Sí</td><% else %><td>No</td><% end %>
				<% if current_user.admin? %>
					<td>
						<a href="#">
							<p><button type="button" class="btn btn-danger btn-xs disabled">Borrar</button></p>
						</a>
					</td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>