<% provide(:title, 'Crear Usuario') %>

<div class="boton_der">
	<div class="top_buttons">
		<%= link_factory( :_path => users_path, :_text=> 'Todos los Usuarios', :_button=> true, :_class=> 'btn btn-info' ) %>
	</div>
	<h1>Crear Usuario<span class="line"></span></h1>
</div>

<%= render 'users/form' %>