<% provide(:title, "#{@user.name}") %>
<div id="refresh_content">
	<%= head_title("Mi Perfil") %>
	<!--Grid-->
	<h2>
	Este es el home de Usuario
	<button class="btn btn-primary right">
	<i class="icon-cogs icon"></i>Esta ser치 una acci칩n</button>
	<button class="btn btn-default right">
	<i class="icon-folder-open-alt icon"></i>Esta ser치 una acci칩n
	</button>
	</h2>
	<div class="row">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni minima quidem officiis eum aliquam error. Suscipit, est nisi deleniti esse hic numquam debitis libero. Non esse numquam iure obcaecati odit.</p>
	</div>
</div>