<% provide(:title, "#{@user.name}") %>
<div id="refresh_content">
	<%= head_title("Mi Perfil") %>
	<!--Grid-->
	<h2 id="info_user">Este es el home de Usuario</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni minima quidem officiis eum aliquam error. Suscipit, est nisi deleniti esse hic numquam debitis libero. Non esse numquam iure obcaecati odit.</p>
</div>