<% provide(:title, "#{@user.name}") %>
<div class="content bg-base section">
	<div class="ribbon ribbon-highlight">
		<ol class="breadcrumb ribbon-inner">
			<li><a href="#">Home</a></li>
			<li><a href="#">Features</a></li>
			<li class="active">Review Archive</li>
		</ol>
	</div>
	<%= head_title("Mi Perfil") %>
	<div class="row style-single">
		<%= render "menus/users_nav" %>
		<div class="col-sm-9 entry-content">
			<!--Grid-->
			<h2 id="info_user">Este es el home de Usuario</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni minima quidem officiis eum aliquam error. Suscipit, est nisi deleniti esse hic numquam debitis libero. Non esse numquam iure obcaecati odit.</p>
		</div>
	</div>
</div>