<% object = object || @unit %>
<% index = index || (@unit.course.units.count-1) %>
<div id="accordeon_unit_content">
	<div class="panel-body table-responsive">
		<a href="#" class="link_icon btn btn-default right">
			<i class="icon icon-list-ol"></i> Reordenar Clases
		</a>
		<button href="#" class="link_icon btn btn-default right" data-toggle="modal" data-target="#new_lecture_modal" onClick="$('#new_unit_id').val('<%= object.id %>');">
		<i class="icon icon-file-alt"></i> Nueva Clase
		</button>
		<table class="table table-hover table-bordered tablesorter">
			<thead>
				<tr>
					<th>Posición</th>
					<th>Clase</th>
					<th class="aligncenter">Video</th>
					<th class="aligncenter">Editar</th>
					<th class="aligncenter">Borrar</th>
				</tr>
			</thead>
			<tbody id="container_lectures_unit_<%= object.id %>">
				<% object.lectures.order("position ASC").each_with_index do |lecture, index| %>
				<%= render "courses/plan", object: object, lecture: lecture, index: index %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>