<% if current_user.student? %>
<button class="btn btn-default right" data-toggle="modal" data-target="#new_delivery">
	<i class="icon-cogs icon"></i>Entregar tarea
</button>
<!-- deliveries modal -->
<!-- Modal -->
<div class="modal fade" id="new_delivery" tabindex="-1" role="dialog" aria-labelledby="newUnitDelivery" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="newUnitDelivery"><b><%= @unit.title %></b> | Nueva entrega</h4>
			</div>
			<div class="modal-body">
				<%=  %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary">Guardar entrega</button>
			</div>
		</div>
	</div>
</div>
<!-- deliveries modal -->
<% else %>
<% end %>