// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#button_select_file{
	width: 100%;
	top: 0px;
	height: 32px;
	cursor: pointer;
}
#user_photo_input{
	position: relative;
	cursor: pointer;
}
#user_photo_input label{
	position: relative;
	left: 5px;
	top: 2px;
}
#resource_photo_path, #user_photo {
	top: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
	left: 0;
	opacity: 0;
}
#select_file_title{
	top: 5px;
	left: 10px;
}
.crop_container{
	overflow: hidden;
	background: transparent;
	border: 1px solid #444444;
}
.user_photo {
	position: relative;
	border: 1px solid black;
}