#container_image_url{
	width: 100%;
	text-align: center;
	border: 1px solid rgba(69, 69, 69, 0.3);
}
#unit_photo, #user_photo_input{
	position: relative;
	cursor: pointer;
}
#unit_photo_input label, #user_photo_input label{
	position: relative;
	left: 5px;
	top: 2px;
}
#resource_photo_path, #user_photo, #unit_photo {
	cursor: pointer;
	top: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
	left: 0;
	opacity: 0;
}
.user_photo {
	position: relative;
	border: 1px solid rgba(69, 69, 69, 0.3);
}
.unit_photo{
	border: 1px solid rgba(69, 69, 69, 0.3);
}