<div class="modal fade" id="attachment_error" tabindex="-1" role="dialog" aria-labelledby="attachmentErrors" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header background_base">
				<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="attachmentErrors">Browser Inválido</h4>
			</div>
			<div class="modal-body aligncenter">
				<p>Para poder subir archivos actualiza tu navegador.</p>
				<p>Tu browser no soporta la función para adjuntar archivos.</p>
			</div>
			<div class="modal-footer">
				<a type="button" class="btn btn-default" href="http://www.google.com.mx/intl/es-419/chrome/" target="_blank">Actualizar Browser</a>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>